<div class="container text-white bg-dark p-3 mt-5">
    <div class="row mt-3">
      <div class="col-md-6 text-center">
        <img src="/beard_new.png" class=" rounded" alt="Face Image" height="300px">
      </div>
      <div class="col-md-6 text-center mt-3">
        <ul class="list-unstyled">
          <li><span class="box-side">[ </span>Beard Styling<span class="box-side"> ]</span></li>
          <li><span class="box-side">[ </span>Beard trim<span class="box-side"> ]</span></li>
          <li><span class="box-side">[ </span>Beard colouring<span class="box-side"> ]</span></li>
          <li><span class="box-side">[ </span>Beard straightening<span class="box-side"> ]</span></li>
          <li><span class="box-side">[ </span>Shaving<span class="box-side"> ]</span></li>
        </ul>
      </div>
    </div>
  </div>
  