<section class="hero text-white">
  <div class="pre-loader">
    
    <div class="counter">
      <div class="digit-1" #digit1>
        <div class="num">0</div>
        <div class="num offset">1</div>
      </div>
      <div class="digit-2" #digit2>
        <div class="num">0</div>
        <div class="num offset">1</div>
        <div class="num">2</div>
        <div class="num">3</div>
        <div class="num">4</div>
        <div class="num">5</div>
        <div class="num">6</div>
        <div class="num">7</div>
        <div class="num">8</div>
        <div class="num">9</div>
        <div class="num">0</div>
      </div>
      <div class="digit-3" #digit3>
        <div class="num">0</div>
        <div class="num">1</div>
        <div class="num">2</div>
        <div class="num">3</div>
        <div class="num">4</div>
        <div class="num">5</div>
        <div class="num">6</div>
        <div class="num">7</div>
        <div class="num">8</div>
        <div class="num">9</div>
        <div class="num">0</div>

      </div>
      <div class="digit-4">%</div>

    </div>
    <div class="progress-bar"></div>
  </div>

</section>
<div></div>