<router-outlet></router-outlet>
<div class="side-navbar text-center">
  <button class="menu-button" (click)="toggleNavbar()"><span class="box-side">[ </span>Menu<span class="box-side">
      ]</span></button>
  @if (isOpen) {

  <div class="container  bg-black vw-100 " id="box">
    <ul class="mt-5 text-white ">
      <li class="nav-item "><a class="nav-link active" href="#"><span class="box-side">[ </span>Fab Studio<span
            class="box-side"> ]</span></a></li>
      <li class="nav-item"><a class="nav-link active" href="#"><span class="box-side">[ </span>Services<span
            class="box-side"> ]</span></a></li>
      <li class="nav-item"><a class="nav-link active" href="/aboutus"><span class="box-side">[ </span>About Us<span
            class="box-side"> ]</span></a></li>
      <li class="nav-item"><a class="nav-link active" href="#"><span class="box-side">[ </span>Contact<span
            class="box-side"> ]</span></a></li>
    </ul>
    <img src="/Subtract.png" alt="bottom left" class="bottom-left-image">
    <img src="/Subtract (1).png" alt="bottom right" class="bottom-right-image">

  </div>

  }
</div>
<app-services></app-services>
<!-- <app-home></app-home> -->