 ul {
   list-style-type: none;

 }

 #box {
   height: 50vh;
   position: absolute;
   top: 45px;
   left: 7%;


 }

 .menu-button {
   font-family: 'Stick No Bills', sans-serif;
   position: absolute;
   top: 10px;
   right: 10px;
   background-color: transparent;
   border: none;
   color: #fff;
   font-size: 28px;
   cursor: pointer;
 }

 a {
   font-family: 'Stick No Bills', sans-serif;
   font-size: 28px;

 }

 .nav-link span {
   visibility: hidden;
 }

 button span {
   visibility: hidden;

 }

 button:hover span {
   visibility: visible;

 }

 .nav-link:hover span {
   visibility: visible;
 }

 .bottom-left-image {
   position: absolute;
   bottom: 0;
   left: 0;
 }

 .bottom-right-image {
   position: absolute;
   bottom: 0;
   right: 0;
 }

 @media (max-width : 500px) {

   #box {
     left: auto;
   }

 }