<div class="container-fluid bg-black text-light py-5">
    <div class="row justify-content-between mb-5">
      <div class="col">
        <h1 class="display-4 text-center">SERVICES</h1>
      </div>
    
    </div>
    
    <div class="row justify-content-center">
      <div class="col-md-3 mb-4">
        <div class="card bg-secondary" (click)="hair()">
          <img src="/hair.png" class="card-img-top" alt="Hair Service">
          <div class="card-img-overlay d-flex align-items-center justify-content-center">
            <h2 class="card-title">HAIR</h2>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card bg-secondary" (click)="face()">
          <img src="/face.png" class="card-img-top" alt="Face Service">
          <div class="card-img-overlay d-flex align-items-center justify-content-center">
            <h2 class="card-title">FACE</h2>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card bg-secondary" (click)="beard()">
          <img src="/beard.png" class="card-img-top" alt="Beard Service">
          <div class="card-img-overlay d-flex align-items-center justify-content-center">
            <h2 class="card-title">BEARD</h2>
          </div>
        </div>
      </div>
    </div>
  </div>